<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>8 Números - IA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/vue-material/font-def.css" />
    <link rel="stylesheet" href="assets/css/vue-material/vue-material.min.css" />
    <link rel="stylesheet" href="assets/css/vue-material/default.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css" />
</head>

<body>
    <div id="app">
        <nav>
            <md-toolbar class="md-primary">
                <h3 class="md-title" style="flex: 1">Jogo dos 8</h3>

                <md-button class="md-primary" @click="restart">Voltar ao início</md-button>
            </md-toolbar>
        </nav>
        <div v-if="parte == 1">
            <div class="md-layout md-gutter md-alignment-center-center" style="height: 100vh">
                <md-card class="md-layout-item md-size-50 md-small-size-100">
                    <md-card-header>
                        <div class="md-title">Responda às perguntas para começar</div>
                    </md-card-header>

                    <md-card-content>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-size-100">
                                <md-field>
                                    <label for="tempo">
                      Quanto tempo, em segundos, pode-se esperar?
                    </label>
                                    <md-input type="number" id="tempo" v-model="tempo" />
                                </md-field>
                            </div>
                            <div class="md-layout-item md-size-100">
                                <md-switch v-model="heuristic">{{heuristic?'Usar heurística':'Não usar heurística'}}
                                </md-switch>
                            </div>
                            <div class="md-layout-item md-size-100">
                                <md-switch v-model="random">{{random?'Gerar estado incial de forma aleatória':'Entrar estado inicial'}}</md-switch>
                            </div>

                            <div v-if="!random" class="md-layout-item md-size-100">
                                <div class="error-bg" v-show="errorInputInitialState">
                                    {{errorInputInitialState}}
                                </div>
                                <div v-for="i in 3" class="md-layout md-gutter md-alignment-center-center">
                                    <div v-for="j in 3" class="md-layout-item md-size-10">
                                        <md-field :md-counter="false">
                                            <md-input maxlength="1" v-model="estadoInput[i-1][j-1]">
                                            </md-input>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>

                    <md-card-actions>
                        <md-button class="md-primary" @click="mountGame">Montar jogo</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div v-else>
            <div class="md-layout md-gutter md-alignment-center-center" style="height: 100vh">
                <md-card class="md-layout-item md-size-50 md-small-size-100 md-alignment-center-center">
                    <md-card-header>{{movimentos>0?'Movimentos: '+movimentos:''}}</md-card-header>
                    <md-card-content style="min-height: 30rem">
                        <transition-group name="flip-list" tag="div">
                            <div class="piece float-left" :class="{'piece-number':piece!=' ',clear:key%3==0}" v-for="(piece,key) in state" :key="piece">
                                {{piece}}
                            </div>
                        </transition-group>
                    </md-card-content>
                    <md-card-actions>
                        <md-button @click="newRandomInitial" v-if="!solving">Gerar novo estado aleatório</md-button>
                        <md-button class="md-primary" @click="resolve" v-if="!solving">Resolver jogo</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vue-material.min.js"></script>
    <script src="assets/js/back.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>